@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: #e8fbbb;
}
.cabecalho{
    width: 100%;
}
.botao{
    color: #4d543d;
    font-size: 24px;
    text-decoration: none;
}
.titulo{
    color: #4d543d;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: #4d543d;
}
.texto-inicial{
    font-size: 24px;
    color: #4d543d;
}
.texto-fonte{
    font-size: 18px;
    color: #4d543d;
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}

.topicos{
    display: flex;
    position: absolute;
    list-style-type: none;
    text-decoration: none;
}
.container{
    text-decoration: none;
    text-align: right;
    width: 20%;
}
.botao-link{
    text-decoration: none;
    display: flex;
    width: 30%;
    text-align: right;
    color: #4d543d;
    font-size: 24px;
}

